<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's a day today??</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>


    <nav>
        <div class="container main-nav flex">
            <a class="company-logo">
                <img src="assets/Le 5 caratteristiche di un team di successo secondo Google.png" alt="logo">
            </a>

            <div class="nav-links">
                <ul class="flex">
                    <li><a href="#" class="hover-link">Home</a></li>
                    <li><a href="#" class="hover-link">About</a></li>
                    <li><a href="#" class="hover-link">Contact Us</a></li>
                    <li><a href="#" class="hover-link">Resources</i></a></li>
                    <li><a href="#" class="hover-link secondary-btn">Sign in</a></li>
                    <li><a href="#" class="hover-link primary-btn">Sign up</a></li>
                </ul>
            </div>

            <div class="dropdown-resources"></div>
            <a href="#" class="hover-link nav-ham"><i class="fa-solid fa-bars fa-2x"></i></a>
        </div>
    </nav>
    </body>